logs
project/project
project/target
target
tmp
.history
dist
*.pyc
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
jupyterhub/singleuser
jupyterhub/.singleuser.md5
jupyterhub/jupyterhub.sqlite
jupyterhub/jupyterhub_cookie_secret
ipython/epidata.egg-info/
ipython/build/
.metals
.vscode
ipython/lib
spark/lib
