@(providerId: String, loginForm: Option[Form[(String, String)]] = None)(implicit request: RequestHeader, assets: AssetsFinder, env: securesocial.core.RuntimeEnvironment, conf: play.api.Configuration)

@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play
@import providers.DemoProvider

@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@if(providerId == "demo") {
@*
@env.providers.get(providerId).map { provider =>
*@
            @if( DemoProvider.authMethod == OAuth1 || DemoProvider.authMethod == OAuth2 ) {
                @defining( "securesocial/images/providers/%s.png".format(DemoProvider.Demo) ) { imageUrl =>
                    <a href="@env.routes.authenticationUrl(DemoProvider.Demo, Some("/link-result"))"> <img src="@assets.path(imageUrl)"/></a>
                }
            }
} else {
@* .getOrElse {
*@
    @*****************************************
     * Todo: throw a runtime exception? this might need improvement
     *****************************************@
    @Logger(this.getClass()).error("[securesocial] unknown provider '%s'. Can't render it.".format(DemoProvider.Demo))
    { throw new RuntimeException("Unknown provider '%s') }
}
